# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# minecraft dev
run/

# Kotlin
*.class
*.kotlin_module

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Local config
local.properties
*.env